<!DOCTYPE html>
<html>
    <head>
        <title>Depot</title>
<!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
     <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
     <%= csrf_meta_tags %>
-->
        <%= stylesheet_link_tag "scaffolds" %>
        <%= stylesheet_link_tag "depot", :media => "all" %>
        <%= javascript_include_tag "application" %>
    </head>
    <body class='<%= controller.controller_name %>'>

        <%= yield %>

    </body>
</html>
